/**************
* Preview CSS *
***************/

.previewer-container {
  height: 100%;
}
@media screen and (max-width: 900px) {
  .previewer-container {
    height: initial;
  }
  .previewer-main {
    flex: none;
  }
}
#fullscreen-button {
  bottom: 2px;
  right: 2px;
  display: flex;
  max-width: none;
  width: auto;
  margin-left: auto;


}
#fullscreen-button img{
  min-width: 1.5em;
}
